<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeaIysDmU4y3JEHbIkB4S_D0bLW-O2iqA</string>
	<key>GCM_SENDER_ID</key>
	<string>695988204048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Qamar.UmrahAdvisorApp</string>
	<key>PROJECT_ID</key>
	<string>ultimateumrah</string>
	<key>STORAGE_BUCKET</key>
	<string>ultimateumrah.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695988204048:ios:e5a8347cf3babe328c1095</string>
</dict>
</plist>